article#sunflower {
    display: block;
    margin: 0;
    padding: 0 0 2em 0;
    text-align: center;
    position: relative;
}

article#sunflower canvas {
    margin: 2em auto 0 auto;
}

article#sunflower input#controlStep {
    text-align: center;
    display: none;
    margin: auto;
}

article#sunflower div#buttons {
    text-align: center;
    /*display: none;*/
    margin: auto;
}

article#sunflower div#buttons img {
    display: inline-block;
    margin-left: 24px;
    margin-right: 24px;
    padding: 0 6px;
    border: 1px solid rgba(0, 0, 0, 0.38);
    border-radius: 6px;
    -moz-transition: border 0.33s ease-out, box-shadow 0.33s ease-out;
    -webkit-transition: border 0.33s ease-out, box-shadow 0.33s ease-out;
    transition: border 0.33s ease-out, box-shadow 0.33s ease-out;
}

article#sunflower div#buttons img:hover {
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 6px;
    box-shadow: 0 0 5px #33CC66;
    -moz-transition: border 0.33s ease-out, box-shadow 0.33s ease-out;
    -webkit-transition: border 0.33s ease-out, box-shadow 0.33s ease-out;
    transition: border 0.33s ease-out, box-shadow 0.33s ease-out;
}
